.todo-list {
	max-width: 400px;
	margin:auto;
	display:block;
	list-style-type: none;
}

.todo-item {
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	padding:10px;
	background-color: #FAFAFA;
}

.btn {
	float:right;
}

